.letter {
    padding: 100px 20px;
    background-color: #fff;
    color: #111;
  
    p {
      font-size: 2rem;
      font-family: 'Dancing Script' o 'Parisienne';
      color: #000;
    }

    span {
      font-size: 2rem;
    }
  
    .carta-content {
      max-width: 700px;
      margin: 0 auto;
    }
  }
