// src/styles/main.scss

$color-bg: #fff;
$color-text: #000;

body {
  margin: 0;
  padding: 0;
  font-family: 'Dancing Script' o 'Parisienne';
  background-color: $color-bg;
  color: $color-text;
}

.App {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

:root {
  --swiper-theme-color: $color-bg;
}

.swiper-pagination {
  position: relative !important;
}

.loading {
  text-align: center;
  font-weight: 500;
  padding: 2rem;
  font-size: 1.2rem;
  color: #999;
  animation: fadeIn 0.3s ease-in-out;
}
